@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.head{
    text-align: center;
}

h1{
    margin: 0;
}
.App{
    text-align: center;
    /* color: white; */
    min-height: 100vh;
    background: #000;
}
.header{
    background: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    padding: 8px;
}
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 14px;
   gap: 7px;
}
.movie{
width: 23%;
color: #e7be00;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    padding: 3px;
    /* font-weight: bold; */
    font-size: 15px;
    text-align: start;
    width: 200px;
}
.movieTitle{
    font-size: 20px;
    font-weight: bold;
}
.movieYear{
    font-size:large ;
    font-weight: bold;


}
.movie img {
    width: 100%;
height:  250px;
border: 1px solid #5d5763;}